<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96951499510-dlr603o7rq2tjlca0l7ghn41utjbs3cp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96951499510-dlr603o7rq2tjlca0l7ghn41utjbs3cp</string>
	<key>API_KEY</key>
	<string>AIzaSyBwDbemc6ebi0SD_IeiFfU87TFj7_617Xg</string>
	<key>GCM_SENDER_ID</key>
	<string>96951499510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.walhallaa.MonkeyChatUIKit</string>
	<key>PROJECT_ID</key>
	<string>monkeychat-d01f0</string>
	<key>STORAGE_BUCKET</key>
	<string>monkeychat-d01f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96951499510:ios:71708198585fc78744cad7</string>
</dict>
</plist>